/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   flex    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */

#contact {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input {
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
}

.contact-form input:focus {
    outline: none;
}

.contact-title {
    font-size: 200%;
    font-weight: 600;
}

input {
    border: 1px solid black !important;
}