/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */
/* ::::::::   flex    :::::::: */
/* :::::::: ::::::::  :::::::: */
/* :::::::: ::::::::  :::::::: */

#contact {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
