nav {
    background-color: black;
    color: white;
}

nav div {
    display: flex;
}

nav div div:first-child {
    width: 80%;
}

nav div div:last-child {
    width: 20%;
}

nav div div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}